.header-top { height: 814px; background: url(../img/header-top.jpg) center/cover; }

.menu-g { font-family: "SegoeUIRegular"; }
.menu-g .menu { padding: 10px 0 30px; }
.menu-g .menu__point { list-style: none; font-size: 14px; position: relative; display: inline-block; }
.menu-g .menu__point:hover .menu__sub { display: block; }
.menu-g .menu__name { font-size: 18px; color: #fff; display: block; line-height: 28px; padding: 5px 25px; position: relative; font-family: "SegoeUIRegular"; }
.menu-g .sub { font-family: "SegoeUISemiBold"; display: none; position: absolute; left: 25px; top: 100%; background: #fff; padding: 0 25px 10px; width: 310px; z-index: 100; }
.menu-g .sub__point { list-style: none; width: 100%; }
.menu-g .sub__point_main { font-size: 16px; padding: 10px 0 3px; color: #673a90; }
.menu-g .sub__point-title { color: #282828; display: block; line-height: 23px; }
.menu-g .sub__point-title:hover { color: #673a90; }
.menu-g .menu__point:hover > .sub { display: block; }

.menu-burger .menu-up { padding: 10px 0 20px; float: left; position: relative; }
.menu-burger .menu__li { list-style: none; font-size: 10px; }
.menu-burger .menu__li:hover .menu__sub { display: block; }
.menu-burger .menu__li a { text-decoration: none; color: #b5e7f8; display: block; line-height: 22px; padding: 0 23px; }
.menu-burger .menu .submenu { width: 100%; background: #fff; position: absolute; top: 100%; left: 0; padding: 10px 0 10px 10px; }
.menu-burger .submenu li a { color: #0099cc; display: block; padding: 0 10px; }
.menu-burger .submenu li a:hover { color: #000; }
.menu-burger .menu-button { cursor: pointer; font-size: 24px; color: #fefefe; width: 100px; position: relative; float: left; padding-left: 35px; margin-top: 25px; }
.menu-burger .menu-button .bg { position: absolute; background: #fff; width: 27px; height: 20px; top: 5px; left: 0; display: block; }
.menu-burger .menu-button .bg::before { content: ""; position: absolute; width: 27px; height: 5px; top: 4px; left: 0; background: #000; display: block; }
.menu-burger .menu-button .bg::after { content: ""; position: absolute; width: 27px; height: 5px; left: 0; background: #000; display: block; top: 12px; }

.video { padding: 100px 0 130px; background: url(../img/video-bg.jpg) center/cover; }
@media only screen and (max-width: 1050px) { .video { padding: 65px 0 55px; } }
@media only screen and (max-width: 550px) { .video { padding: 30px 0 15px; } }
.video__block { margin: 0 auto 25px; max-width: 880px; width: 100%; height: 490px; }
@media only screen and (max-width: 550px) { .video__block { height: 170px; } }
.video__block iframe { width: 100%; display: block; height: 100%; }

.modal { font-family: "SegoeUIRegular", arial, sans-serif; background: #fff url(../img/popup-star.png) center 125px no-repeat; padding: 200px 0 155px; }
.modal h2 { text-align: center; }
.modal__descr { font-size: 16px; color: #282828; display: block; text-align: center; padding: 2px 0; }
