.whattodo_bg_img{	
	@media only screen and (min-width : 1200px) {
		background-image: url("../img/whatwedo.png");
		background-repeat: no-repeat;
		background-position: top 10% center;
	}
}
.whattodo__container{
	max-width: 1225px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 5px 0;
	text-align: center;
	@media only screen and (min-width : 1024px) {
		padding: 50px 0 45px 0;
	}
	@media only screen and (min-width : 1200px) {
		padding: 175px 0 115px 0;
	}
}
.whattodo__leftbox{
	max-width: 527px;
	width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 15px 20px 0 20px;
	@media only screen and (min-width : 1200px) {
		padding: 15px 0px 0 0px;
	}
}
.whattodo__img{	
	-webkit-box-shadow: 0px 10px 72px 3px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 10px 72px 3px rgba(0,0,0,0.27);
	box-shadow: 0px 10px 72px 3px rgba(0,0,0,0.27);		
	img{
		max-width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: -7px;
	}
}

.whattodo__rightbox{
	
	display: inline-block;
	text-align: center;
	vertical-align: top;
	@media only screen and (min-width : 1200px) {
		padding-left: 120px;
		text-align: left;
		max-width: 625px;
		width: 100%;
	   
	}
}
.whattodo__topcaption{
	text-align: center;
	font-family: "Segoe UI Semibold";
	padding-bottom: 30px;
	padding-top: 40px;
	font-size: 24px;
	@media only screen and (min-width : 1024px) {
		padding-bottom: 30px;		
		font-size: 36px;
	}
	@media only screen and (min-width : 1200px) {
		text-align: left;
		padding-bottom: 50px;
		padding-top: 0;		
	}
}
.whattodo__txtbox{	
	background-repeat: no-repeat;
	background-position: center top; 
	position: relative;	
	z-index: 10;
	padding: 40px 20px 40px 20px;
	@media only screen and (min-width : 1024px) {
		display: inline-block;
		max-width: 370px;
		width: 100%;
		margin: 0 40px;
	}
	@media only screen and (min-width : 1200px) {
		&:after{
			content: "";
			position: absolute;
			top: 31px;
			left: 16px;
			width: 2px;
			height: 72%;
			background-color: #673a90;
			z-index: 1;
		}
		background-repeat: no-repeat;
		background-position: left top; 
		padding: 0 0 33px 49px;
		display: block;
		max-width: unset;
		margin: 0px;
	}
}
.whattodo__txtbox_bg1{
	background-image: url("../img/what1.png");	
}
.whattodo__txtbox_bg2{
	background-image: url("../img/what2.png");
}
.whattodo__txtbox_bg3{
	background-image: url("../img/what3.png");	
}
.whattodo__txtbox_bg4{
	background-image: url("../img/what4.png");
	&:after{
		content: "";		
		width: 0px;
		height: 0%;
		background-color: transparent;		
	}
}
.whattodo__txtbox_caption{
	font-size: 14px;
	color: #121212;
	font-family: "Segoe UI Semibold";
	text-transform: uppercase;
	padding-bottom: 7px;
	// line-height: 30px;
	@media only screen and (min-width : 1024px) {
		font-size: 16px;
	}
}
.whattodo__text{
	font-size: 14px;
	color: #121212;
	font-family: "Segoe UI Regular";
	// line-height: 21px;
	@media only screen and (min-width : 1024px) {
		font-size: 16px;
		    display: inline-block;
	}
}











@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

