.header-top{
	height: 814px;
	background: url(../img/header-top.jpg) center/cover;
}
.menu-g{
	font-family: "SegoeUIRegular";
	.menu {
		padding: 10px 0 30px;
		&__point { 
			list-style: none; 
			font-size: 14px; 
			position: relative; 
			display: inline-block; 
		}
		&__point:hover .menu__sub { 
			display: block; 
		}
		&__name{
			font-size: 18px;
			color: #fff;
			display: block;
			line-height: 28px;
			padding: 5px 25px;
			position: relative;
			font-family: "SegoeUIRegular";
		}
	}
	.sub {
		font-family: "SegoeUISemiBold";
		display: none; 
		position: absolute; 
		left: 25px; 
		top: 100%; 
		background: #fff; 
		padding: 0 25px 10px; 
		width: 310px; 
		z-index: 100; 
	}
	.sub__point { 
		list-style: none; 
		width: 100%;
		&_main{
			font-size: 16px;
			padding: 10px 0 3px;
			color: #673a90;
		}
	}
	.sub__point-title {
		color: #282828; 
		display: block; 
		line-height: 23px;
		&:hover{
			color: #673a90;
		}
	}
	.menu__point:hover > .sub { 
		display: block; 
	}
}

.menu-burger{ 
	.menu-up { 
		padding: 10px 0 20px; 
		float: left;
		position: relative; 
	}
	.menu__li { 
		list-style: none; 
		font-size: 10px; 
	}
	.menu__li:hover .menu__sub { 
		display: block; 
	}
	.menu__li a { 
		text-decoration: none; 
		color: #b5e7f8; 
		display: block; 
		line-height: 22px; 
		padding: 0 23px;
	}
	.menu .submenu { 
		width: 100%;
		background: #fff; 
		position: absolute; 
		top: 100%; 
		left: 0; 
		padding: 10px 0 10px 10px; 
	}
	.submenu li a { 
		color: #0099cc; 
		display: block; 
		padding: 0 10px; 
	}
	.submenu li a:hover { 
		color: #000; 
	}
	.menu-button { 
		cursor: pointer; 
		font-size: 24px; 
		color: #fefefe; 
		width: 100px; 
		position: relative; 
		float: left;
	  padding-left: 35px; 
	  margin-top: 25px; 
	}
	.menu-button .bg { 
		position: absolute; 
		background: #fff; 
		width: 27px; 
		height: 20px; 
		top: 5px; 
		left: 0; 
		display: block; 
	}
	.menu-button .bg::before { 
		content: ""; 
		position: absolute; 
		width: 27px; 
		height: 5px; 
		top: 4px; 
		left: 0; 
		background: #000; 
		display: block; 
	}
	.menu-button .bg::after { 
		content: ""; 
		position: absolute; 
		width: 27px; 
		height: 5px; 
		left: 0;
		background: #000; 
		display: block; 
		top: 12px; 
	}
}


.video{
	padding: 100px 0 130px;
	background: url(../img/video-bg.jpg) center/cover;
	@media only screen and (max-width : 1050px) {
		padding: 65px 0 55px;
	}
	@media only screen and (max-width : 550px) {
		padding: 30px 0 15px;
	}
	&__block{
		margin: 0 auto 25px;
		max-width: 880px;
		width: 100%;
		height: 490px;
		@media only screen and (max-width : 550px) {
			height: 170px;
		}
		iframe{
			width: 100%;
			display: block;
			height: 100%;
		}
	}
}

.modal{
	font-family: "SegoeUIRegular", arial, sans-serif;
	background: #fff url(../img/popup-star.png) center 125px no-repeat;
	padding: 200px 0 155px;
	h2{
		text-align: center;
	}
	&__descr{
		font-size: 16px;
		color: #282828;
		display: block;
		text-align: center;
		padding: 2px 0;
	}
}

.contact{
	padding: 60px 0;
	font-family: "SegoeUISemiBold";
	@media only screen and (max-width : 500px) {
		padding: 30px 0 20px;
	}
	h2{
		text-transform: none;
		@media only screen and (max-width : 500px) {
			text-align: left;
			padding-left: 10px;
			padding-top: 0;
			padding-bottom: 20px;
		}
	}
	&__inner{
		position: relative;
	}
	&__mape{
		width: 100%;
		max-width: 650px;
		overflow: hidden;
		&_mini{
			display: none;
		}
		@media only screen and (max-width : 500px) {
			height: 195px;
			&_max{
				display: none;
			}
			&_mini{
				display: block;
			}
		}
	}
	.info{
		position: absolute;
		left: 600px;
		top: 68px;
		z-index: 1000;
		padding: 50px 20px 45px 48px;
		background: #fff;
		max-width: 375px;
		width: 100%;
		color: #333;
		font-size: 16px;
		-webkit-box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.13);
		-moz-box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.13);
		box-shadow: 15px 15px 28px 0px rgba(0,0,0,0.13);
		@media only screen and (max-width : 1100px) {
			left: 540px;
		}
		@media only screen and (max-width : 1000px) {
			position: relative;
			left: 0;
			top: 0;
			box-shadow: none;
		}
		@media only screen and (max-width : 500px) {
			padding: 10px 10px 30px 10px;
		}
		&__text{
			display: block;
			&_title{
				padding-bottom: 20px;
				@media only screen and (max-width : 500px) {
					padding-bottom: 10px;
				}
			}
			&_time{
				padding-bottom: 32px;
			}
			&_number{
				color: #673a90;
				font-size: 20px;
				padding-bottom: 7px;
			}
			&_mail{
				padding-bottom: 30px;
				@media only screen and (max-width : 500px) {
					padding-bottom: 0px;
				}
			}
		}
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

