@media only screen and (min-width: 1200px) {
  .whattodo_bg_img {
    background-image: url("../img/whatwedo.png");
    background-repeat: no-repeat;
    background-position: top 10% center; } }

.whattodo__container {
  max-width: 1225px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 5px 0;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .whattodo__container {
      padding: 50px 0 45px 0; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__container {
      padding: 175px 0 115px 0; } }

.whattodo__leftbox {
  max-width: 527px;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 15px 20px 0 20px; }
  @media only screen and (min-width: 1200px) {
    .whattodo__leftbox {
      padding: 15px 0px 0 0px; } }

.whattodo__img {
  -webkit-box-shadow: 0px 10px 72px 3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 10px 72px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 10px 72px 3px rgba(0, 0, 0, 0.27); }
  .whattodo__img img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: -7px; }

.whattodo__rightbox {
  display: inline-block;
  text-align: center;
  vertical-align: top; }
  @media only screen and (min-width: 1200px) {
    .whattodo__rightbox {
      padding-left: 120px;
      text-align: left;
      max-width: 625px;
      width: 100%; } }

.whattodo__topcaption {
  text-align: center;
  font-family: "Segoe UI Semibold";
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 24px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__topcaption {
      padding-bottom: 30px;
      font-size: 36px; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__topcaption {
      text-align: left;
      padding-bottom: 50px;
      padding-top: 0; } }

.whattodo__txtbox {
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: 10;
  padding: 40px 20px 40px 20px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__txtbox {
      display: inline-block;
      max-width: 370px;
      width: 100%;
      margin: 0 40px; } }
  @media only screen and (min-width: 1200px) {
    .whattodo__txtbox {
      background-repeat: no-repeat;
      background-position: left top;
      padding: 0 0 33px 49px;
      display: block;
      max-width: unset;
      margin: 0px; }
      .whattodo__txtbox:after {
        content: "";
        position: absolute;
        top: 31px;
        left: 16px;
        width: 2px;
        height: 72%;
        background-color: #673a90;
        z-index: 1; } }

.whattodo__txtbox_bg1 {
  background-image: url("../img/what1.png"); }

.whattodo__txtbox_bg2 {
  background-image: url("../img/what2.png"); }

.whattodo__txtbox_bg3 {
  background-image: url("../img/what3.png"); }

.whattodo__txtbox_bg4 {
  background-image: url("../img/what4.png"); }
  .whattodo__txtbox_bg4:after {
    content: "";
    width: 0px;
    height: 0%;
    background-color: transparent; }

.whattodo__txtbox_caption {
  font-size: 14px;
  color: #121212;
  font-family: "Segoe UI Semibold";
  text-transform: uppercase;
  padding-bottom: 7px; }
  @media only screen and (min-width: 1024px) {
    .whattodo__txtbox_caption {
      font-size: 16px; } }

.whattodo__text {
  font-size: 14px;
  color: #121212;
  font-family: "Segoe UI Regular"; }
  @media only screen and (min-width: 1024px) {
    .whattodo__text {
      font-size: 16px;
      display: inline-block; } }

/*==================command============*/
.command_bg_color {
  background-color: #1c1c1c;
  padding: 40px 0px 100px 0; }
  @media only screen and (min-width: 1024px) {
    .command_bg_color {
      padding: 75px 0px 90px 0; } }
  @media only screen and (min-width: 1200px) {
    .command_bg_color {
      background-image: url("../img/commandbg.png");
      background-repeat: no-repeat;
      background-position: top 10% center;
      padding: 215px 0px 240px 0; } }

.command__container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 15px; }

.command__textbox {
  max-width: 515px;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .command__textbox {
      float: right;
      max-width: 400px; } }
  @media only screen and (min-width: 1200px) {
    .command__textbox {
      max-width: 507px;
      padding-top: 55px; } }

.command__topcaption {
  padding-bottom: 22px; }
  @media only screen and (min-width: 1024px) {
    .command__topcaption {
      padding-bottom: 40px;
      line-height: inherit; } }
  @media only screen and (min-width: 1200px) {
    .command__topcaption {
      padding-bottom: 22px;
      line-height: 67px; } }

.command__text {
  font-family: "Segoe UI Regular";
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-bottom: 22px;
  padding-left: 5px; }

.command__slider {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .command__slider {
      float: left; } }

.command__slider_img {
  display: block; }
  .command__slider_img img {
    max-width: 100%;
    height: auto; }

.df-left, .df-right {
  position: absolute;
  bottom: -70px;
  width: 40px;
  height: 40px; }
  @media only screen and (min-width: 1024px) {
    .df-left, .df-right {
      bottom: 10px; } }
  @media only screen and (min-width: 1200px) {
    .df-left, .df-right {
      bottom: -85px; } }

.df-left {
  background-image: url("../img/sliderprev.png");
  background-repeat: no-repeat;
  background-position: left center;
  left: 20%; }
  .df-left:hover {
    background-image: url("../img/sliderprevhover.png"); }
  @media only screen and (min-width: 1024px) {
    .df-left {
      left: unset;
      right: -20%; } }
  @media only screen and (min-width: 1200px) {
    .df-left {
      left: 30%;
      right: unset; } }

.df-right {
  background-image: url("../img/slidernext.png");
  background-repeat: no-repeat;
  background-position: right center;
  right: 20%; }
  .df-right:hover {
    background-image: url("../img/slidernexthover.png"); }
  @media only screen and (min-width: 1024px) {
    .df-right {
      right: -45%; } }
  @media only screen and (min-width: 1200px) {
    .df-right {
      right: 35%; } }

.command__counter {
  width: 70px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  font-family: "Segoe UI Regular";
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (min-width: 1024px) {
    .command__counter {
      bottom: 19px;
      left: 128%; } }
  @media only screen and (min-width: 1200px) {
    .command__counter {
      bottom: -75px;
      left: 47%; } }

/*============online======*/
.button_order {
  background-color: #fff;
  color: #673a90;
  border: 2px solid #673a90;
  padding: 7px 10px;
  width: 142px;
  text-align: center; }
  .button_order:hover {
    background-color: #673a90;
    color: #fff; }

@media only screen and (min-width: 1200px) {
  .online_bg_img {
    background-image: url("../img/onlinebg.png");
    background-repeat: no-repeat;
    background-position: top 10% center; } }

.online__container {
  max-width: 1215px;
  margin: 0 auto;
  padding: 30px 0 30px; }
  @media only screen and (min-width: 1200px) {
    .online__container {
      padding: 70px 0 85px; } }
  @media only screen and (min-width: 1200px) {
    .online__container {
      padding: 140px 0 130px; } }

.online__topcaption {
  padding-bottom: 120px; }

.online__camers {
  text-align: center; }

.online__cam_box {
  max-width: 288px;
  width: 100%;
  display: inline-block;
  padding: 33px 0 40px 0;
  border: 1px solid #e6e6e6; }

.online__boxcaption {
  color: #121212;
  font-family: "Segoe UI Semibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 5px; }

.online__boxsub {
  font-family: "Segoe UI Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  display: block;
  text-align: center;
  padding-bottom: 25px; }

.online__text {
  color: #909090;
  font-family: "Segoe UI Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 50px; }

.online__pricetext {
  color: #121212;
  line-height: 22px;
  font-family: "Segoe UI Semibold";
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-align: center;
  padding-bottom: 25px; }
  .online__pricetext em {
    font-size: 20px;
    font-weight: 400; }
  .online__pricetext i {
    display: inline-block; }

/*# sourceMappingURL=style-df.css.map */
